@model SurveyModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name's Survey Responses</title>
</head>

<body>
    <h1>Your Survey Responses:</h1>
    <p>Name: @Model.Name</p>
    <p>Dojo Location: @Model.DojoLocation</p>
    <p>Favorite Programming Language: @Model.FavoriteLanguage</p>
    <p>Comments: @Model.Comments</p>
</body>

</html>